*{
margin:0;
padding:0;
}

.model-overlay{
position:fixed;
inset:0;
background:rgba(0,0,0,0.5);
display:flex;
align-items:center;
justify-content:center;
z-index:1000;
}
.addinnercontainer{
display: flex;
background-color:white;
  flex-direction: column;
  box-shadow: 0 0 1px 0 gray;
  width: 28rem;
  height: 16rem;
  align-items: center;
  border-radius:11px;
}

#addhead p{
font-weight: bold;
  font-size: xxx-large;
  width: 22rem;
  text-align: center;
}

#intodo input{
margin: 1rem 0 0rem 0;
  height: 3rem;
  width: 22rem;
  border:none;
  padding: 0 0 0 1rem;
  border-radius: 9px;
  box-shadow: 0 0 2px 0 gray;
  font-size:x-large;
}

#addtodo button{
margin:3rem 0 1rem 0;
width:12rem;
height:3rem;
border-radius:9px;
border:none;
background-color:blue;
cursor:pointer;
color:white;
font-weight:bold;
font-size:large;
}

#addtodo button:hover{
box-shadow:0 0 2px 0 #00d;
background:#00d;
}


