*{
margin:0;
padding:0;
box-sizing:border-box;
}

img{
max-width:100%;
height:auto;
}

body{
background-color:#fafafa;
}

nav{
display: flex;
background-color:white;
//flex-wrap:wrap;
  box-shadow: 0 0px 2px 0px gray;
  height: auto;
  align-items: center;
  padding: 0.75rem 1rem;
}

#leftnav,#rightnav{
width:100%;
justify-content:space-between;
}

/*desktop*/
@media(min-width:768px){
nav{
flex-wrap:nowrap;
height:4rem;
justify-content:space-between;
}
#leftnav,#rightnav{
width:auto;
}
}

#leftnav{
display:flex;
align-items:center;
}
#brandname{
color: #29f9fc;
  font-weight: bolder;
  margin: 0 1rem 0 0;
  font-size: 27px;
}

#home{
margin:0 1rem 0 0;
}
#home a{
text-decoration:none;
color:black;
}
#demo a{
text-decoration:none;
color:black;
}
#rightnav{
display:flex;
align-items:center;
justify-content:end;
}

#signin{
margin:0 1rem 0 0;
}
#signin a{
  text-decoration:none;
  color:black;
}
#signup{
background-color: #29f9fc;
  display: flex;
  align-items: center;
  width: 5rem;
  height:37px;
  justify-content: center;
  border-radius: 6px;
}
#signup a{
  text-decoration:none;
  color:black;
}
#signup:hover{
background-color: #00fbff;
}

#mainsection1{
background-color:white;
margin:2px 0 0 0;
}

/* hero section  mobile first*/
#hero{
display:flex;
flex-direction:column;
gap:2rem;
padding:2rem 1rem;
}

#lefthero{
display: flex;
  flex-direction: column;
  justify-content: center;}

#bigtexthero{
font-size: clamp(2rem,8vw,4.5rem);
  font-weight: bolder;
  line-height: 1;
  width:100%;
}
#smalltexthero{
width: 100%;
margin: 1rem 0 0 0;
}
#buttonhero{
display:flex;
align-items:center;
margin:1rem 0 0 0;
}
#signuphero{
background-color: #29f9fc;
  display: flex;
  align-items: center;
  width: 5rem;
  height:37px;
  justify-content: center;
  border-radius: 6px;
	margin:0 1rem 0 0;
box-shadow:0 0px 2px 1px #29f9fc;
}

#signuphero:hover{
background-color: #00fbff;
}
#signinhero a{
  text-decoration:none;
  color:black;
}
#signuphero a{
  text-decoration:none;
  color:black;
}
#signinhero{
  display: flex;
  align-items: center;
  width: 5rem;
  height:37px;
  justify-content: center;
  border-radius: 6px;
  box-shadow:0 0px 1px 0px gray;
}
#bgimghero{
background-image: url("../assets/hero.png");
  height: 18rem;
  width: 100%;
  aspect-ratio:16/10;
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
  border-radius: 17px;
}

/*desktop responsive*/
@media(min-width:768px){
#hero{
flex-direction:row;
text-align:left;
padding:4rem 5rem;
}

}


/* section 2 */

#info{
  display: flex;
  flex-direction:column;
  align-items: center;
  background: transparent;
  padding:1rem 4rem;
}
#infohead{
margin:5rem 0 0px 0;
  font-weight: bolder;
  font-size: xxx-large;
}
/*mobile first */
#infocards{
display:grid;
grid-template-columns:1fr;
/*margin:3rem 0 4rem 0;*/
gap:1.5rem;
}
.card span{
margin:0 0 10px 0;
font-weight:bold;
}
.card{
display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 0;
  padding: 1rem;
text-align: center;
  box-shadow: 0 0px 2px 0px gray;
  border-radius:8px;
  }

/*desktop */
@media(min-width:768px){
#infocards{
grid-template-columns:repeat(3,1fr);
}

}

/* section 3 */
#usertest{
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background-color:white;
padding:3rem 4rem;
}
#usertesthead{
margin:0 0 2rem 0;
font-weight:bold;
font-size:xxx-large;
}

.testcard{
width:100%;
max-width:30;
border-radius:1rem;
box-shadow:0 0 1px 0 gray;
padding:1rem;
text-align:center;
}
.testcard p{
font-size:large;
margin:0 0 1rem 0;
}
.testcard span{
display:flex;
flex-direction:column;
}
#testusername{
font-weight:bold;
}

/*footer */
/*mobile first*/
#footerinfo{
display:flex;
flex-direction:column;
gap:2rem;
justify-content:space-between;
padding:2rem 1rem;
}
#leftfoot{
display:flex;
flex-direction:column;
width:100%;
}
#rightfoot{
display:flex;
}
#rightfoot li{
list-style:none;
}
#appname{
color: #29f9fc;
  font-weight: bolder;
  margin: 0 1rem 0 0;
  font-size: 27px;

}
#socialplatforms{
display:flex;
margin:1rem 0 0 0;
}
.cardimg img{
width:32px;
height:35px;
}
.simg img{
width:20px;
height:18px;
margin:0 1rem 0 0;
}
#rightsreserved{
display:flex;
height:3rem;
justify-content:center;
align-items:center;
}

#partition{
display:flex;
justify-content:center;
}
#rightfoot div{
margin:0 7rem 0 0;
}
#rightfoot div span{
font-weight:bold;
}
#rightfoot div ul{
margin:8px 0 0 0;
}
#rightfoot div ul li{
margin:9px 0 0 0;
}
#partition div{
height: 1px;
  box-shadow: 0 0 1px 0 gray;
  width: 100%;
}

/*desktop*/
@media(min-width:768px){
#footerinfo{
flex-direction:row;
}
#rightfoot{
flex-direction:row;
}

}
.intract{
cursor:pointer;
}
