*{
margin:0;
padding:0;
}

.container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}
.innercontainer{
display: flex;
  flex-direction: column;
  height: auto;
  width: 23rem;
  box-shadow: 0 0 3px 0 gray;
  padding: 2rem 3rem;
  border-radius: 13px;
min-width:407px;
max-width:1200px;

}

#head{
display:flex;
flex-direction:column;
align-items:center;
}

#head p{
font-weight:bold;
width:20rem;
font-size:xx-large;
text-align:center;
line-height:1.1;
}

#head span{
font-size:small;
margin:5px 0 2rem 0;
color:gray;
}

.block{
display:flex;
flex-direction:column;
margin: 0 0 1rem 0;
}

.block span {
margin:0 0 9px 0;
}

.block input{
height: 3rem;
  border: none;
  box-shadow: 0 0 1px 0 gray;
  padding: 0px 0 0 11px;
  border-radius: 9px;
  cursor:pointer;
}

#signupbtn{
height: 3rem;
  border: none;
  border-radius: 9px;
  background-color:blue;
  color: white;
  font-weight: bold;
  font-size: larger;
  margin:0 0 1rem 0;
  cursor:pointer;
}
#signupbtn:hover{
background-color:#0909d7;
}
#signinlink{
display:flex;
justify-content:center;
}
