*{
margin:0;
padding:0;
}

.containerlist{
display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 1px 3px 0px gray;
  margin: 2rem 0 1rem 0;
  border-radius: 9px;
  height: auto;
  align-items: center;
}
#leftlistside input{
height:2rem;
width:2rem;
margin:0 2rem 0 0 ;
}
#leftlistside{
display:flex;
align-items:center;
}
#task{
font-size:x-large;
  width: 61rem;
  word-wrap:break-word;
}
#rightlistside img{
width:2rem;
height:2rem;
}
#updatetodo{
margin: 0 1rem 0 0 ;
}
#rightlistside button{
border:none;
background:transparent;
cursor:pointer;
width:3rem;
height:3rem;
}
#rightlistside button:hover{
background-color:#80808017;
border-radius:3px;
}
