*{
margin:0;
padding:0;
box-sizing:border-box;
}
/*mobile first*/
.container{
display:flex;
justify-content:center;
min-height:100vh;
padding: 1rem;
}

.innercontainer{
display:flex;
flex-direction:column;
width:100%;
max-width:1200px;
align-items:center;
}

#head{
width:100%;
display:flex;
flex-direction:column;
box-shadow:0 0 1px 0 gray;
border-radius:6px;
}

/* mobile first*/
#createblock{
display:flex;
flex-direction:column;
gap:1rem;
padding: 1rem;
align-items:flex-start;
}
#left{
font-weight:bold;
font-size:1.8rem;
}
#right button{
background-color: blue;
  border-radius: 7px;
  height: 3rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
cursor:pointer;
color:white;
border:none;
font-size:inherit;
}
#right button:hover{
box-shadow:0 0 2px 0 #0000e8;
background-color:#0000e8;
}
#createtodo a{
text-decoration:none;

  color: white;
}
#showblock{
display:flex;
gap:0.5rem;
padding:1rem;
flex-wrap:wrap;
}

#alltasks{
  border-radius: 7px;
  height: 3rem;
  width: 9rem;
  display: flex;
  flex:1;
  min-width:8rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow:0 0 1px 0 gray;
  margin:0 1rem 0 0;
}
#alltasks:hover{
background-color:blue;
color:white;
cursor:pointer;
}
#completed{
  border-radius: 7px;
  height: 3rem;
  width: 9rem;
  display: flex;
  flex:1;
  min-width:8rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow:0 0 1px 0 gray;
}



#completed:hover{
background-color:blue;
color:white;
cursor:pointer;
}
#todos{
width:100%;
}
#todomessage{
position: relative;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding:1rem;
  font-weight: bold;
  color: gray;
}

/*desktop */

@media(min-width:768ox){
.container{
padding:3rem 4rem;
}
#createblock{
flex-direction:row;
justify-content:space-between;
align-items:center;
}
#left{
font-size:3rem;
}
#showblock{
flex-wrap:nowrap;
}
}
